
/*root is a CSS (not even SCSS) container used to declare variable*/
/*declare global variables given that :root might be the parent of all blocks*/
:root
{
  /* CSS variable */
  --text-color :red;
}



#Google_search_nav
{
  /*ENABLE flex organization*/

  div
  {
    display: flex;

    /*principal axis : x*/
    flex-direction: row;

    /*blocks positionned to the right of the parent*/
    justify-content: right;

    /*Google Image and Google advanced search links*/
    a
    {
      margin: 0.5em;
    }
  
  }
}

h1
{
  /*center the text in a text dedicated block*/
  text-align: center;

  color: #7843e6;

  strong
  {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.grid_container 
{

  /*grids creation*/
  /*.grid-container becomes a grid container*/
  display: grid;

  /*1 screen fraction for each column - we want to force the equivalence of the 3 columns, 
  it's why we don't use auto*/
  grid-template-columns: repeat(3, 1fr);

  /*ecart qui sépart toutes les case entre elles*/
  gap: 10px;

  div
  {

    /*each element positionned in the center of the block*/
    display: flex;
    justify-content: space-around;
    align-items: center;

    img
    {
      width: clamp(1em, 60%, 30em);
      height: auto;
    }
  }

  
    /*the block that contains the search bar*/
  .search_bar
  {

    /*determine the width of the 4th div block*/
    grid-column-start: 1;
    grid-column-end: 4;

    /*ENABLE flex flex reorganization*/
    /*we center the form */
    display: flex;

    /*principal axis : x*/
    flex-direction: row;

    /*center in principal axis - center in x*/
    justify-content: space-around;

    /*center the items within the div block in the secondary axis (y axis)*/
    align-items: center;

  }
}

form
  {
    background-color: #7843e6;

    height: auto;

    width: clamp(20em, 80%, 100em);

    /*ENABLE flex reorganization*/
    display: flex;

    /*set y as principal axis*/
    flex-direction: column;

    /*center the content of form in y*/
    justify-content: space-around;

    /*center the content of form in x*/
    align-items: center;

    padding: 0.3em;

    /*border design*/
    border-radius: 0.3em;
    border-color: #fe02fe;
    border-style: solid;
    box-shadow:0.1em 0.2em 0.1em #03ffff;
      

    input
    {
      /*we espace the 2 input elements*/
      margin: 0.3em;
    }

    input[type="text"]
    {
      width: clamp(200px, 50%, 600px);

      font-size: 1em;

      padding-top: 0.1em;
      padding-bottom: 0.1em;
    }

    input[type = "submit"]
    {
      /* width: clamp(50px, 25%, 200px); */
      width: auto;

      height: 2em;

      border-radius: 0.5em;

      font-size: 1em;
    }
  }




  
.grid_container > div 
{
  padding: 0.5em;

  border-radius: 0.1em;

  background-color: white;
}

